@model EngineBoxViewModel
<br/>
<div>
    <h3>@Model.Type</h3>
    <p>
        Liters: @Model.Litre <br/>
        Horsepower: @Model.Bhp <br />
        Topspeed: @Model.TopSpeed <br />
    </p>
    <br/>
    <p>Info: @Model.Info</p>
</div>
